the-app[template="404"] {
  color: var(--color-white);
  position: relative;
}

the-app[template="404"]::before {
  content: "";
  display: block;
  background-image: linear-gradient(var(--color-black) 10%, #525252 100%);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
  transform: translateY(-20vh);
  animation: bg404 50000ms linear infinite;
}

@keyframes bg404 {
  50% {
    transform: translateY(0);
  }
}

.template-404 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-404 {
  gap: var(--scale-32);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.icon-404 {
  width: 13.889rem;
  height: auto;
}

.footer-404 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

@media (max-width: 767px) {
  .template-404,
  .inner-404 {
    padding: var(--space-edge);
  }

  .icon-404 {
    width: 180px;
  }
}
