stage-manager {
  display: block;
}

stage-control {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
}

stage-control > [data-stage] {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 28px;
  width: 20px;
}

stage-control > [data-stage]::before {
  content: "";
  display: block;
  height: 100%;
  width: 0;
  border-radius: 999px;
  transition: width 300ms linear, height 300ms linear;
  border: solid 1px var(--color-black);
}

stage-control > .active-stage::before {
  border: solid 2px var(--color-black);
  width: 14px;
}

@media (min-width: 768px) {
  stage-control {
    flex-direction: column;
  }

  stage-control > [data-stage] {
    width: 2.083rem;
    height: var(--scale-32);
  }

  stage-control > [data-stage]::before {
    width: 100%;
    height: 0;
  }

  stage-control > .active-stage::before {
    height: var(--scale-20);
  }
}
