over-flow {
  display: block;
  max-height: calc((var(--scale-20) * 1.55) * 4);
  position: relative;
}

.over-flow-content {
  overflow: hidden;
}

over-flow-scroll {
  display: block;
  position: absolute;
  height: var(--scale-64);
  width: var(--scale-8);
  right: 0;
  top: 50%;
  transform: translate(calc(100% + var(--scale-8)), -50%);
  background-color: var(--color-grey-subtle);
  border-radius: 99px;
}

over-flow-scroll::before {
  content: "";
  display: block;
  width: 100%;
  height: 0;
  background-color: var(--color-grey-intense);
  border-radius: 99px;
}
