digital-clock {
  display: flex;
  align-items: center;
  gap: var(--scale-4);
}

digital-clock svg {
  width: var(--scale-20);
  height: auto;
}

digital-clock span {
  font-size: var(--scale-16);
  font-family: "KumbhSans", sans-serif;
  font-weight: 200;
}

@media (max-width: 767px) {
  digital-clock {
    display: none;
  }
}
