the-header {
  display: block;
  flex: 0 0 auto;
  padding: var(--space-edge);
  width: 100%;
}

[data-template="projects"] the-header,
[data-template="404"] the-header {
  position: fixed;
  top: var(--space-edge);
  left: 0;
  z-index: 10;
  padding: 0 var(--space-edge) var(--space-edge);
  color: var(--color-white);
}

.header-main {
  display: flex;
  align-items: center;
}

#Menu-btn {
  display: flex;
  align-items: center;
  gap: 0.347rem;
}

#Menu-btn > svg {
  width: 1.736rem;
  height: auto;
}

.menu-btn-label {
  font-size: 0.752rem;
  font-weight: 400;
  transform: translateY(7%);
}

.header-left,
.header-right {
  display: flex;
  align-items: center;
  flex: 1 1 100%;
}

.header-right {
  justify-content: flex-end;
  gap: var(--scale-32);
}

.header-middle {
  flex: 0 0 auto;
  display: block;
}

.header-middle > svg {
  width: 5.787rem;
  height: auto;
}

[data-menu-active="true"] .header-right {
  flex: 0 0 0%;
  transition: flex 300ms ease-in-out;
}

body:not([data-menu-active="true"]) .menu-active--true,
[data-menu-active="true"] .menu-active--false,
[data-menu-active="true"] .header-right > * {
  display: none;
}

#Menu-btn .top,
#Menu-btn .bottom {
  transform-box: fill-box;
  transform-origin: center;
  transition: transform 300ms ease-in-out;
}

[data-menu-active="true"] #Menu-btn .top {
  transform: translateY(400%) rotate(45deg);
}

[data-menu-active="true"] #Menu-btn .bottom {
  transform: translateY(-400%) rotate(-45deg);
}

.header-btns {
  display: flex;
}

.header-btn {
  height: var(--scale-40);
  min-width: var(--scale-40);
  background-color: var(--color-white);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 99rem;
  color: var(--color-black);
}

.header-btn > svg {
  width: 40%;
  height: auto;
}

.header-btn-call {
  margin-right: -5%;
}

@media (min-width: 768px) {
  .header-btn-call {
    min-width: 6.366rem;
  }

  .header-btn-call > svg {
    display: none;
  }

  .header-btn {
    cursor: pointer;
    transition: background-color 300ms ease-in-out, color 300ms ease-in-out;
  }

  .header-btn:hover {
    color: var(--color-white);
    background-color: var(--color-black);
  }

  #Menu-btn > svg {
    overflow: hidden;
  }

  #Menu-btn > svg > path {
    display: block;
  }

  #Menu-btn:hover > svg > .top {
    animation: menuBtnTop 300ms ease-in-out forwards;
  }

  #Menu-btn:hover > svg > .bottom {
    animation: menuBtnBottom 300ms ease-in-out forwards;
  }

  @keyframes menuBtnTop {
    from {
      transform: translateX(101%);
    }
    to {
      transform: translateX(0%);
    }
  }

  @keyframes menuBtnBottom {
    from {
      transform: translateX(-101%);
    }
    to {
      transform: translateX(0%);
    }
  }
}

@media (max-width: 767px) {
  .header-middle svg {
    width: 80px;
  }

  #Menu-btn > svg {
    width: 24px;
  }

  .header-btn-label {
    display: none;
  }

  .header-btn {
    height: 32px;
    min-width: 32px;
  }

  .menu-btn-label {
    display: none;
  }
}
