the-header {
  display: block;
  flex: 0 0 auto;
  padding: var(--space-edge);
  width: 100%;
  transform: translateY(-100%);
  background-color: var(--color-bg);
  position: relative;
  z-index: 1;
}

the-header[show="true"],
the-header[show="false"] {
  transition: transform 500ms var(--cb-slow-start);
}

the-header[show="true"] {
  transform: translateY(0%);
}

[data-template="projects"] the-header,
[data-template="404"] the-header {
  position: fixed;
  top: var(--space-edge);
  left: 0;
  z-index: 10;
  padding: 0 var(--space-edge) var(--space-edge);
  color: var(--color-white);
}

.header-main {
  display: flex;
  align-items: center;
}

.header-left,
.header-right {
  display: flex;
  align-items: center;
  flex: 1 1 100%;
}

.header-right {
  justify-content: flex-end;
  gap: var(--scale-32);
}

.header-middle {
  flex: 0 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-middle > svg {
  width: 5.787rem;
  height: auto;
}

.header-btns {
  display: flex;
}

.header-btn {
  height: var(--scale-40);
  min-width: var(--scale-40);
  background-color: var(--color-white);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 99rem;
  color: var(--color-black);
}

.header-btn > svg {
  width: 40%;
  height: auto;
}

.header-btn-call {
  margin-right: -5%;
}

@media (min-width: 768px) {
  .header-btn-call {
    min-width: 6.366rem;
  }

  .header-btn-call > svg {
    display: none;
  }

  .header-btn {
    cursor: pointer;
    transition: background-color 300ms ease-in-out, color 300ms ease-in-out;
  }

  .header-btn:hover {
    color: var(--color-white);
    background-color: var(--color-black);
  }

  #Menu-btn > svg {
    overflow: hidden;
  }

  #Menu-btn > svg > path {
    display: block;
  }

  body:not([data-menu="true"]) #Menu-btn:hover > svg > .top {
    animation: menuBtnSideToSideTop 300ms var(--cb-slow-start) forwards;
  }

  body:not([data-menu="true"]) #Menu-btn:hover > svg > .bottom {
    animation: menuBtnSideToSideBottom 300ms var(--cb-slow-start) forwards;
  }

  @keyframes menuBtnSideToSideTop {
    from {
      transform: translateX(101%);
    }
    to {
      transform: translateX(0%);
    }
  }

  @keyframes menuBtnSideToSideBottom {
    from {
      transform: translateX(-101%);
    }
    to {
      transform: translateX(0%);
    }
  }
}

@media (max-width: 767px) {
  .header-middle svg {
    width: 80px;
  }

  #Menu-btn > svg {
    width: 24px;
  }

  .header-btn-label {
    display: none;
  }

  .header-btn {
    height: 32px;
    min-width: 32px;
  }

  .menu-btn-label {
    display: none;
  }
}
