.template-index {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}

.index-inner {
  flex: 1 1 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.index-content {
  max-width: 32.407rem;
  padding-top: var(--scale-40);
  text-align: center;
  opacity: 0;
  transform: translateY(40%);
}

#Index-icon {
  width: 66.088rem;
  height: auto;
}

.index-link-footer {
  transform: translateY(calc(101% + var(--space-edge)));
}

@media (max-width: 767px) {
  #Index-icon {
    width: 100%;
    max-width: 400px;
  }

  .index-content {
    max-width: 100%;
  }
}

#Index-icon path {
  transform: translateY(110%);
  transform-origin: center;
  transform-box: fill-box;
}

the-app[show="true"] #Index-icon path {
  transform: translateY(0%);
  transition: transform 750ms var(--ani-delay, 0ms) var(--cb-slow-start);
}

the-app[show="true"] .index-content {
  opacity: 1;
  transform: translateY(0%);
  transition: opacity 750ms var(--cb-slow-start), transform 750ms var(--cb-slow-start);
}

the-app[show="true"] .index-link-footer {
  transform: translateY(0%);
  transition: transform 750ms var(--cb-slow-start);
}
