html {
  font-size: 1vw;
}

body {
  font-family: "Kumbh Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "YOPQ" 300;
}

.anton-sc-regular {
  font-family: "Anton SC", serif;
  font-weight: 400;
  font-style: normal;
}

.amarante-regular {
  font-family: "Amarante", serif;
  font-weight: 400;
  font-style: normal;
}

:root {
  --scale-4: 0.231rem;
  --scale-8: 0.463rem;
  --scale-12: 0.694rem;
  --scale-16: 0.926rem;
  --scale-20: 1.157rem;
  --scale-24: 1.389rem;
  --scale-32: 1.852rem;
  --scale-64: 3.704rem;
  --scale-100: 5.787rem;
  --scale-1142: 66.088rem;
}

digital-clock {
  display: flex;
  align-items: center;
  gap: var(--scale-4);
}

digital-clock svg {
  width: var(--scale-20);
  height: auto;
}

digital-clock span {
  font-size: var(--scale-16);
  font-family: "KumbhSans", sans-serif;
  font-weight: 200;
}

#Header {
  padding: var(--scale-20) var(--scale-64);
}

#Menu-btn svg {
  width: var(--scale-24);
  height: auto;
}

.header-main {
  display: flex;
}

#Logo {
  flex: 0 0 auto;
  height: auto;
  width: var(--scale-100);
}

.header-left,
.header-right {
  flex: 1 1 100%;
}

.header-right {
  display: flex;
  justify-content: flex-end;
}

#Clock {
  display: flex;
  align-items: center;
  gap: var(--scale-4);
}
