html {
  font-size: 1vw;
  font-family: "KumbhSans", sans-serif;
}

[data-display]:not([data-display="night"]) [data-display-on="night"],
[data-display]:not([data-display="day"]) [data-display-on="day"] {
  display: none;
}

/* ---- HEADER ---- */
/* ---- HEADER ---- */
/* ---- HEADER ---- */
#Header {
  padding: 1.1574rem 3.7037rem;
}

#Menu-btn svg {
  width: 1.44675rem;
  height: auto;
}

.header-main {
  display: flex;
}

#Logo {
  flex: 0 0 auto;
  height: auto;
  width: 5.78703rem;
}

.header-left,
.header-right {
  flex: 1 1 100%;
}

.header-right {
  display: flex;
  justify-content: flex-end;
}

#Clock {
  display: flex;
  align-items: center;
  gap: 0.23148rem;
}