:root {
  --scale-1: 0.058rem;
  --scale-2: 0.116rem;
  --scale-4: 0.231rem;
  --scale-8: 0.463rem;
  --scale-12: 0.694rem;
  --scale-16: 0.926rem;
  --scale-20: 1.157rem;
  --scale-24: 1.389rem;
  --scale-32: 1.852rem;
  --scale-40: 2.315rem;
  --scale-60: 3.472rem;
  --scale-64: 3.704rem;

  --space-edge: var(--scale-20);

  --color-black: #0c0c0c;
  --color-black-faded: rgba(12, 12, 12, 0.8);
  --color-grey-intense: #2e2e2e;
  --color-grey: #d8d8d8;
  --color-grey-faded: rgba(12, 12, 12, 0.1);
  --color-grey-subtle: #e4e4e4;
  --color-white: #fcfcfc;
  --color-bg: var(--color-white);

  --cb-slow-start: cubic-bezier(0.75, 0.14, 0.65, 0.95);
  --cb-over-shot: cubic-bezier(0.69, 0.22, 0.35, 1.34);
}

@media (max-width: 767px) {
  :root {
    --space-edge: 12px;
  }
}

html {
  font-size: 1vw;
}

body {
  font-family: "Kumbh Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "YOPQ" 300;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  scroll-behavior: smooth;
  background-color: var(--color-bg);
}

the-app {
  display: flex;
  flex-direction: column;
  flex: 1 1 100%;
  width: 100%;
  height: 100%;
  padding: 0 var(--space-edge) var(--space-edge);
  background-color: var(--color-bg);
  position: relative;
  z-index: 1;
}

.template {
  flex: 1 1 auto;
  width: 100%;
}

.container {
  width: 100%;
  height: 100%;
}

.underlined-btn {
  position: relative;
  display: inline-block;
  color: var(--color-black);
  font-size: var(--scale-16);
  padding: var(--scale-8) 0;
  font-weight: 700;
}

.underlined-btn::before {
  content: "";
  display: block;
  position: absolute;
  height: var(--scale-1);
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--color-grey-subtle);
}

.underlined-btn.light {
  color: var(--color-white);
}

.underlined-btn.light::before {
  background-color: var(--color-grey-intense);
}

.link-footer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--scale-40);
  padding: var(--scale-32) 0;
}

@media (max-width: 767px) {
  .underlined-btn {
    font-size: 14px;
  }

  .link-footer {
    padding: 16px 0;
    gap: 24px;
  }
}

/* MENU-BTN */

.menu-btn {
  display: flex;
  align-items: center;
  gap: 0.347rem;
  cursor: pointer;
}

.menu-btn > svg {
  width: 1.736rem;
  height: auto;
}

.menu-btn-label {
  font-size: 0.752rem;
  font-weight: 400;
  transform: translateY(7%);
}

.menu-btn .top,
.menu-btn .bottom {
  transform-box: fill-box;
  transform-origin: center;
}

/* CONTROLLER */

.controller {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
}

@media (max-width: 767px) {
  .controller {
    padding: 12px;
  }
}

.controller > .control-item {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 28px;
  width: 20px;
}

.controller > .control-item::before {
  content: "";
  display: block;
  height: 100%;
  width: 0;
  border-radius: 999px;
  transition: width 300ms linear, height 300ms linear;
  border: solid 1px currentColor;
}

.controller > .active-stage::before,
.controller > .active-item::before {
  border: solid 2px currentColor;
  width: 14px;
}

@media (min-width: 768px) {
  .controller {
    flex-direction: column;
  }

  .controller > .control-item {
    width: 2.083rem;
    height: var(--scale-32);
  }

  .controller > .control-item::before {
    width: 100%;
    height: 0;
  }

  .controller > .active-stage::before,
  .controller > .active-item::before {
    height: var(--scale-20);
  }
}

/* ICONS  */
.icon-circle-plus circle,
.icon-circle-close circle {
  opacity: 0;
}

/* ANIMATION */

.h-scale-icon:hover svg {
  animation: hScaleIcon 300ms ease-in-out forwards;
}

@keyframes hScaleIcon {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.h-bounce-text {
  overflow: hidden;
}

.h-bounce-text:hover .text-overflow-content {
  animation: hBounceText 300ms var(--ani-delay) var(--cb-over-shot) forwards;
}

@keyframes hBounceText {
  from {
    transform: translateY(105%);
  }
  to {
    transform: translateY(0%);
  }
}

.blur-stage-animation {
  transition-property: transform, filter, opacity;
  transition-duration: 300ms;
  transition-timing-function: ease-in;
  transform-origin: center;
  transform: scale(1);
  filter: blur(0);
}

.blur-stage-animation:not(.active-stage) {
  pointer-events: 0;
  transform: scale(2);
  filter: blur(1rem);
}
