stage-menu,
menu-btn {
  display: block;
}

the-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

[data-menu="true"] the-menu,
[data-menu="false"] the-menu {
  opacity: 1;
}

.menu-header {
  padding: var(--space-edge);
  width: 100%;
}

[data-menu="false"] .menu-header {
  opacity: 0;
}

.menu-header-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: var(--scale-40);
}

.menu-header .menu-btn {
  min-height: var(--scale-40);
}

.menu-header .menu-btn .top {
  transform: translateY(400%) rotate(45deg);
}

.menu-header .menu-btn .bottom {
  transform: translateY(-400%) rotate(-45deg);
}

.menu-header .menu-btn:hover svg {
  transform: rotate(90deg);
  transition: transform 300ms var(--cb-slow-start);
}

.menu-header-logo svg {
  width: 5.787rem;
  height: auto;
  cursor: pointer;
}

.menu-main {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 8%;
  width: calc(100% - (var(--space-edge) * 2));
  height: 100%;
  overflow: hidden;
  border-radius: var(--scale-40);
  transition: transform 500ms var(--cb-slow-start);
  color: var(--color-white);
}

body:not([data-menu="true"]) .menu-main {
  transform: scale(0.75);
}

.menu-links {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--scale-32);
  z-index: 5;
}

[data-menu="false"] .menu-links {
  opacity: 0;
}

.menu-link {
  font-size: 4.63rem;
  display: flex;
  align-items: center;
  gap: var(--scale-32);
  cursor: pointer;
}

.menu-link-icon-wrapper {
  width: var(--scale-40);
  height: var(--scale-40);
  position: relative;
  overflow: hidden;
  opacity: 0;
  transform: scale(0);
}

.animate .menu-link-icon-wrapper {
  opacity: 1;
  transform: scale(1);
  transition: opacity 300ms var(--cb-slow-start), transform 300ms var(--cb-slow-start);
}

.menu-link-icon-1,
.menu-link-icon-2 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.menu-link-icon-2 {
  transform: translate(-100%, 100%);
}

.menu-link:hover .menu-link-icon-1,
.menu-link:hover .menu-link-icon-2 {
  transition: transform 300ms ease-in-out;
}

.menu-link:hover .menu-link-icon-1 {
  transform: translate(100%, -100%);
}

.menu-link:hover .menu-link-icon-2 {
  transform: translate(0%, 0%);
}

.menu-link-label {
  text-transform: uppercase;
}

.menu-image,
.menu-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.menu-image.previous-stage {
  z-index: 2;
  opacity: 0;
  transition: opacity 500ms var(--cb-slow-start);
}

.menu-image.active-stage {
  z-index: 1;
}

.menu-image:not(.active-stage) {
  opacity: 0;
  pointer-events: none;
}

.menu-image {
  border-radius: var(--scale-40);
  overflow: hidden;
}

[data-stage]:not(.active-stage) .menu-image {
  opacity: 0;
  pointer-events: none;
}

.menu-image img {
  object-fit: cover;
}

.menu-footer {
  padding: var(--space-edge);
  flex: 0 0 auto;
}

.menu-image-link {
  cursor: pointer;
  position: absolute;
  bottom: var(--space-edge);
  right: var(--space-edge);
  display: flex;
  align-items: center;
  gap: var(--scale-8);
  z-index: 5;
}

.menu-image-link svg {
  transform: scale(0);
  width: var(--scale-40);
  height: var(--scale-40);
}

.animate.menu-image-link svg {
  transform: scale(1);
  transition: transform 300ms ease-in-out;
}

[data-menu="false"] .menu-footer {
  transform: translateY(calc(100% + var(--space-edge)));
}

[data-menu="true"] .menu-footer {
  transform: translateY(0);
  transition: transform 500ms var(--cb-slow-start);
}

.menu-footer .link-footer {
  padding: 0;
  min-height: var(--scale-40);
}

@media (max-width: 767px) {
  .menu-link {
    font-size: 12vw;
    display: flex;
    align-items: center;
    gap: 3vw;
    cursor: pointer;
  }

  .menu-link-icon-wrapper {
    width: 6vw;
    height: 6vw;
  }

  .menu-image-link {
    gap: 8px;
  }

  .menu-image-link svg {
    width: 32px;
    height: 32px;
  }

  .menu-header .menu-btn {
    min-height: 32px;
  }

  .menu-header .menu-btn svg {
    width: 24px;
  }

  .menu-header-content {
    min-height: 32px;
  }

  .menu-header-logo svg {
    width: 80px;
  }

  .menu-links {
    gap: 10px;
  }
}

/* TRANSITION TO MENU */

[data-menu="true"] the-app,
[data-menu="false"] the-app {
  transition: transform 500ms var(--cb-slow-start);
}

[data-menu="true"] the-header,
[data-menu="true"] the-app {
  transform: translateY(-101vh);
  pointer-events: none;
}
