.template-page {
  position: relative;
}

.page-sxs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.page-gallery {
  display: flex;
  gap: var(--scale-12);
}

.page-image-wrapper {
  position: relative;
  flex: 1 5 100%;
  height: 100%;
  background-color: lightgray;
  transition: flex 0.3s ease-in-out;
  border-radius: var(--scale-20);
}

.page-gallery .active-stage {
  flex: 1 1 100%;
}

.page-image-wrapper > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: var(--scale-20);
}

.page-main [data-stage]:not(.active-stage) {
  display: none;
}

.page-main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 8%;
}

.page-main-stage {
  flex: 1 1 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: var(--scale-32);
}

.page-title {
  flex: 0 0 auto;
}

.page-control {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 767px) {
  .page-sxs {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, calc(50% - 16px));
    gap: 32px;
  }

  .page-main {
    padding: 0;
    grid-area: 2 / 1 / 3 / 2;
  }

  .page-gallery {
    grid-area: 1 / 1 / 2 / 2;
  }

  .page-main-stage {
    gap: 24px;
    justify-content: flex-start;
  }

  .page-content {
    flex: 0 1 auto;
  }

  .page-image-wrapper > img {
    border-radius: 20px;
  }
}
