body[data-template="projects"] {
  --color-btn-1: var(--color-white);
  --color-btn-2: var(--color-black);
}

the-app[template="projects"] {
  padding: 0;
}

.template-projects {
  color: var(--color-white);
  overflow: hidden;
}

.template-projects.t-curtain::before {
  z-index: 10;
}

.projects-item {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.projects-item.active-stage {
  z-index: 3;
}

[has-interacted="true"] .projects-item.active-stage {
  animation: activeProjectsItem 500ms var(--cb-slow-start) forwards;
}

@keyframes activeProjectsItem {
  from {
    transform: translateY(100%);
  }

  to {
    transform: translateY(0%);
  }
}

.projects-item.previous-stage {
  pointer-events: none;
}

[has-interacted="true"] .projects-item.previous-stage {
  z-index: 1;
  animation: previousProjectsItem 500ms var(--cb-slow-start) forwards;
}

@keyframes previousProjectsItem {
  from {
    transform: translateY(0%);
  }

  to {
    transform: translateY(-100%);
  }
}

.projects-control {
  position: fixed;
  top: 50%;
  left: var(--space-edge);
  transform: translateY(-50%);
  z-index: 5;
}

.projects-item-main {
  --max-lines: 4;
  position: relative;
  z-index: 1;
  text-align: center;
  max-width: 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--scale-12);
}

.projects-item-background {
  position: absolute;
  top: -10%;
  left: -10%;
  width: 120%;
  height: 120%;
}

.projects-item-background > img {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: cover;
  transform: scale(1.1);
}

.active-stage .projects-item-background > img {
  transform: scale(1);
}

.previous-stage .projects-item-background > img {
  transform: scale(0.9);
}

[has-interacted="true"] .active-stage .projects-item-background > img,
[has-interacted="true"] .previous-stage .projects-item-background > img {
  transition: transform 500ms var(--cb-slow-start);
}

.projects-item-year {
  display: block;
  position: relative;
  line-height: 1;
}

.projects-item-star {
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  width: 0.637rem;
  height: auto;
  transform: scale(0) translateX(calc(-100% - var(--scale-4))) translateY(-50%);
  opacity: 0;
}

.projects-item-star.animate {
  transition: transform 300ms ease-in-out, opacity 300ms ease-in-out;
  transform: scale(1) translateX(calc(-100% - var(--scale-4))) translateY(-50%);
  opacity: 1;
}

.projects-item-subtitle {
  display: block;
  position: absolute;
  bottom: var(--space-edge);
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

@media (max-width: 767px) {
  .projects-item-main {
    max-width: unset;
    padding: 0 var(--space-edge);
  }

  .projects-item-subtitle {
    display: none;
  }

  .projects-control {
    top: unset;
    bottom: var(--space-edge);
    left: 50%;
    transform: translateX(-50%);
  }

  .projects-item-star {
    width: 11px;
  }
}
