the-app[template="projects"] {
  padding: 0;
}

.template-projects {
  color: var(--color-white);
}

.projects-item {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-property: transform, filter, opacity;
  transition-duration: 300ms;
  transition-timing-function: ease-in;
  transform-origin: center;
  transform: scale(1);
  filter: blur(0);
  z-index: 1;
}

.projects-item:not(.active-stage) {
  pointer-events: 0;
  transform: scale(2);
  filter: blur(1rem);
  z-index: 0;
}

.projects-control {
  position: fixed;
  top: 50%;
  left: var(--space-edge);
  transform: translateY(-50%);
  z-index: 1;
}

.projects-item-main {
  --max-lines: 4;
  position: relative;
  z-index: 1;
  text-align: center;
  max-width: 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--scale-12);
}

.projects-item-background,
.projects-item-background > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.projects-item-background > img {
  object-position: center;
  object-fit: cover;
}

.projects-item-year {
  display: block;
  position: relative;
  line-height: 1;
}

.projects-item-star {
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  width: 0.637rem;
  height: auto;
  transform: scale(0) translateX(calc(-100% - var(--scale-4))) translateY(-50%);
  opacity: 0;
}

.projects-item-star.animate {
  transition: transform 300ms ease-in-out, opacity 300ms ease-in-out;
  transform: scale(1) translateX(calc(-100% - var(--scale-4))) translateY(-50%);
  opacity: 1;
}

.projects-item-subtitle {
  display: block;
  position: absolute;
  bottom: var(--space-edge);
  left: 50%;
  transform: translateX(-50%);
}

@media (max-width: 767px) {
  .projects-item-main {
    max-width: unset;
    padding: 0 var(--space-edge);
  }

  .projects-item-subtitle {
    display: none;
  }

  .projects-control {
    top: unset;
    bottom: var(--space-edge);
    left: 50%;
    transform: translateX(-50%);
  }

  .projects-item-star {
    width: 11px;
  }
}
