.project-sxs {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
}

.project-gallery {
  position: relative;
}

.project-gallery.t-curtain::before {
  z-index: 99;
}

.project-gallery-item,
.project-gallery-item > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.project-gallery-item > img {
  border-radius: var(--scale-20);
  object-fit: cover;
  object-position: center;
}

.project-gallery-item.previous-stage {
  z-index: 2;
  opacity: 0;
  transition: opacity 500ms var(--cb-slow-start);
}

.project-gallery-item.active-stage {
  z-index: 1;
}

.project-content {
  display: grid;
  grid-template-rows: calc(50% - (var(--scale-32) / 2));
  gap: var(--scale-32);
  padding: 0 8%;
}

.project-meta {
  align-self: self-end;
}

[show="true"] .project-meta .text-overflow-content,
[transition="true"] .project-meta .text-overflow-content {
  transition: transform 500ms var(--ani-delay, 0ms) var(--cb-over-shot);
  transform: translateY(0%);
}

.project-year-wrapper {
  display: flex;
  gap: var(--scale-4);
  align-items: center;
  margin-bottom: var(--scale-8);
  color: var(--color-project, currentColor);
}

.project-star {
  width: 0.637rem;
  height: auto;
  transform: scale(0);
  opacity: 0;
}

.project-year {
  line-height: 1;
}

.project-title {
  color: var(--color-project, currentColor);
}

.project-title-icon {
  display: block;
  width: 3.1rem;
  height: auto;
  margin-left: var(--scale-8);
  opacity: 0;
  transform: scale(0);
}

[show="true"] .project-star,
[show="true"] .project-title-icon,
[transition="true"] .project-star,
[transition="true"] .project-title-icon {
  transition: transform 500ms var(--cb-slow-start), opacity 500ms var(--cb-slow-start);
  transform: scale(1);
  opacity: 1;
}

.project-title-icon > svg {
  width: 100%;
  height: auto;
}

.project-main-item-title {
  margin-bottom: var(--scale-4);
}

.project-main {
  position: relative;
  width: 100%;
}

.project-main-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  opacity: 0;
}

.project-main-item.active-stage {
  opacity: 1;
  pointer-events: all;
}

.active-stage > .project-main-item-content::before {
  transform: translateY(-103%);
  transition: transform 300ms ease-in-out;
}

.project-gallery-opener {
  cursor: pointer;
  position: absolute;
  bottom: var(--space-edge);
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;
}

.project-gallery-opener > svg {
  width: var(--scale-40);
  height: var(--scale-40);
}

@media (max-width: 767px) {
  .project-sxs {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto 1fr;
  }

  .project-gallery {
    grid-area: 1 / 1 / 2 / 2;
  }

  .project-control {
    grid-area: 2 / 1 / 3 / 2;
  }

  .project-content {
    grid-area: 3 / 1 / 4 / 2;
  }

  .project-content {
    grid-template-rows: auto 1fr;
    gap: 16px;
    padding: 0;
  }

  .project-star {
    width: 11px;
  }

  .project-main-item {
    display: flex;
    flex-direction: column;
  }

  .project-main-item-title {
    flex: 0 0 auto;
  }

  .project-main-item-content {
    flex: 0 1 100%;
  }

  .project-title-icon {
    width: 38px;
    height: auto;
    padding-bottom: 6px;
    margin-left: 8px;
  }
}
