/* .heading() */
.text-overflow-word,
.text-overflow {
  display: inline-block;
}

.text-overflow {
  overflow: hidden;
}

.text-overflow-content {
  display: block;
}

[data-animate] .text-overflow-content {
  transform: translateY(105%);
}

.animate .text-overflow-content,
.active .text-overflow-content {
  transition: transform 300ms var(--ani-delay, 0ms) var(--cb-over-shot);
  transform: translateY(0%);
}
