.fs-small {
  font-size: var(--scale-12);
}

.fs-medium {
  font-size: var(--scale-16);
}

.rte,
.fs-large {
  font-size: var(--scale-20);
}

.fw-200 {
  font-weight: 200;
}

.fw-400 {
  font-weight: 400;
}

.fw-700 {
  font-weight: 700;
}

.fc-grey {
  color: var(--color-grey);
}

@media (max-width: 1023px) {
}

@media (max-width: 767px) {
}
