a-carousel {
  display: block;
}

.visuals-carousel.t-curtain::before {
  z-index: 10;
}

.visuals-carousel {
  display: flex;
  overflow: hidden;
  gap: var(--space-edge);
  border-radius: var(--scale-20);
}

.visuals-item {
  position: relative;
  flex: 0 0 calc(50% - (var(--space-edge) / 2));
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.visuals-item-image-wrapper {
  position: relative;
  width: 100%;
  flex: 0 0 100%;
  transition: flex 300ms ease-in-out;
  z-index: 2;
}

.active .visuals-item-image-wrapper {
  flex: 0 0 60%;
}

.visuals-item-image-wrapper > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: var(--scale-20);
}

.visuals-item-main {
  position: absolute;
  height: 40%;
  right: 0;
  bottom: 0;
  left: 0;
  padding: var(--scale-32) 15%;
  display: flex;
  flex-direction: column;
  gap: var(--scale-12);
}

.visuals-item-title {
  flex: 0 0 auto;
}

.visuals-item-content {
  flex: 1 1 auto;
}

.visuals-item-gallery-opener {
  width: 3.1rem;
  height: auto;
  padding-bottom: 0.55rem;
  margin-left: var(--scale-12);
}

.visuals-item-gallery-opener > svg {
  display: block;
  width: 100%;
  height: 100%;
}

.visuals-controls {
  position: fixed;
  right: calc(var(--space-edge) * 2);
  bottom: calc(var(--space-edge) * 2);
  width: calc(50% - (var(--space-edge) * 3.5));
  display: flex;
  justify-content: space-between;
  z-index: 2;
  opacity: 0;
}

.visuals-controls > carousel-control {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--scale-40);
  height: var(--scale-40);
  background-color: var(--color-white);
  border-radius: 99rem;
}

.visuals-controls svg {
  width: 40%;
  height: 40%;
}

[show="true"][listening="true"] .visuals-controls,
[listening="true"] .visuals-controls {
  opacity: 1;
  transition: opacity 500ms var(--cb-slow-start);
}

@media (max-width: 767px) {
  .visuals-item {
    flex: 0 0 100%;
  }

  .visuals-item-main {
    padding: 24px 0;
    gap: 8px;
  }

  .visuals-item-gallery-opener {
    width: 38px;
    height: auto;
    padding-bottom: 6px;
    margin-left: 8px;
  }

  .visuals-controls {
    bottom: unset;
    top: calc(60% - var(--space-edge));
    left: calc(var(--space-edge) * 2);
    width: auto;
    transform: translateY(-50%);
  }

  .visuals-item-image-wrapper > img {
    border-radius: 20px;
  }

  .visuals-controls > carousel-control {
    width: 32px;
    height: 32px;
    border-radius: 99px;
  }
}
